os:
  - linux

dist: bionic

language: python
python:
  - 3.7

services:
  - mysql
  - redis-server

install: pip install -r backend/requirements.txt

jobs:
  include:
#    - stage: build
#      script: make build
    - stage: lint
      script: black --check backend
#      script: make lint
#    - stage: tests
#      before_script:
#        - wget https://repo.mysql.com//mysql-apt-config_0.8.14-1_all.deb
#        - sudo dpkg -i mysql-apt-config_0.8.14-1_all.deb
#        - sudo apt-get update -q
#        - sudo apt-get install -q -y --allow-unauthenticated -o Dpkg::Options::=--force-confnew mysql-server
#        - sudo systemctl restart mysql
#        - sudo mysql_upgrade
#        - mysql --version
#        - mysql -e 'CREATE DATABASE pymatcha;'
#        - npm install newman
#        - node_modules/.bin/newman --version
#        - python backend/app.py &
#        - sleep 5
#      script: node_modules/.bin/newman run --delay-request 20 --color on --verbose PyMatcha.postman_collection.json
#    - stage: deploy
#      script: ./deploy

notifications:
  email:
    recipients:
      - jlasne@student.42.fr
      - gmorer@student.42.fr
    on_success: change
    on_failure: always


#deploy:
#  provider: heroku
#  api_key:
#    secure: kUtYCOzPTUlcJ8nicEynPq39xfVgUtl8LT2zdh/L1MQ6SRKYKT6V+TWSuGNXc9YRn7Sd6dVqYDimz3aK7eQrdBehZxuHy1FvL9qzdWsGeefrFDD5VKf5qyRFmX1+nSir/5WBsGRUhlcPiqMo2WvRWrrARiM+kscULJCpxUJ/rqk2XSxKY+UikWpKgmcgK8ONBdrmK0+ixEqwOHHLU/WfBPHOAdmZM7V3DIeWq75dYee7rfFSejHsUzm8nsMszy5kgsFWj82daYqUTWOVe92v/E5bwGHhqmX2qjXO9d5qm3dVwg7L7gUHB2cUL3sp5EXiH9OdmZhE+QHob155ApkwMqYJo5L7U7/4Az7i/6oiTOfbnUCyCK2g9D0Qng6T4OwlsfH1l182V5I4fWIN94sQuEhh2W+Auu5EjhmsSMwCdYYuI6K5V4ht2aCLVlQ5jdfG8rt78kjsrjLlw8Vu2aprkM1JrTiUFGr5legrAX40BpozOFl913waRScJc65BsBnVkrFeTrmlmWIXe63Gc4LKXc8XaAqVLl3cyhIIyQ4Q0km5UH8/nraKDzw0I0sLLmk2AXBDEnNHDt2E1QmacsfaX+XE2URT74YVBRmxRdpJv6vJsvZEtXpRMHrzf4DK4coS1q5rkHnUXpajf65tB//isrQkbtENnjFZ1EP0zE9OJwY=
#  app: pymatcha
#  on:
#    repo: Seluj78/PyMatcha
