Flask==1.1.2
gunicorn==20.0.4

flask-cors==3.0.8

python-dotenv==0.13.0

Geohash==1.0
python-geohash==0.8.5

pymysql==0.9.3

Flask-Mail==0.9.1

celery==4.4.6
redis==3.5.3

itsdangerous==1.1.0
cryptography==2.9.2

flask_jwt_extended==3.24.1

flake8==3.8.3
black==19.10b0
pre-commit==2.5.1

names==0.3.0
lorem==0.1.1
future==0.18.2
ip2geotools==0.1.5