<footer class="page-footer font-small blue2 pt-4">

    <div class="container-fluid text-center text-md-left">

      <div class="row">

        <div class="col-md-6 mt-md-0 mt-3">

          <h5 class="text-uppercase">PyMatcha</h5>
          <p>Here you can chat with other peaple.</p>

        </div>


        <hr class="clearfix w-100 d-md-none pb-3">

        <div class="col-md-3 mb-md-0 mb-3">

            <h5 class="text-uppercase">Jules Lasne</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#">Site Web</a>
              </li>
              <li>
                <a href="inmail: jlasne@student.42.fr">jlasne@student.42.fr</a>
              </li>
              <li>
                <a href="https://github.com/Seluj78">Github</a>
              </li>
            </ul>

          </div>

          <div class="col-md-3 mb-md-0 mb-3">

            <h5 class="text-uppercase">Nicolas Beny</h5>

            <ul class="list-unstyled">
              <li>
                <a href="inmail: nbeny@student.42.fr">nbeny@student.42.fr</a>
              </li>
              <li>
                <a href="https://github.com/nbeny">Github</a>
              </li>
            </ul>
          </div>

      </div>

    </div>

    <div class="footer-copyright blue text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
  </footer>
