{% load static %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<!-- Example row of columns -->
<h1 class="display-3">Développeur</h1>
<p>En apprentissage django sur le site que vous etes entrain de visiter :).</p>
<br>
<center>

    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'images/localisation.jpg' %}" alt="localisation" height="50px" width="50px">
            <p>26 rue saint Martin 62200 Boulogne-sur-mer</p>
        </div>
        <div class="col-md-4">
            <img src="{% static 'images/phone.jpg' %}" alt="phone" height="50px" width="50px">
            <p>06 74 69 63 16</p>
        </div>
        <div class="col-md-4">
            <img src="{% static 'images/mail.jpg' %}" alt="mail" height="50px" width="50px">
            <p>nbeny@student.42.fr</p>
        </div>
    </div>
</center>
<!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->