<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <a class="nav-link " href="{{ url_for('home.home_view') }}">PyMatcha</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('home.home_view') }}">Home</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('profile.profile_view') }}">Profile</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">Search</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('socket.index') }}">Chat</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"> Account </a>
            <div class="dropdown-menu dropdown-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('profile.register_view') }}">Signup</a>
                <a class="dropdown-item" href="{{ url_for('profile.login_view') }}">Login</a>
                <a class="dropdown-item" href="{{ url_for('admin.index') }}">Admin</a>
                <a class="dropdown-item" href="#">Logout</a>
            </div>
        </ul>
    </div>
</nav>