.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lds-heart {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	/* transform: rotate(45deg) translateY(50%); */
	transform: rotate(45deg);
	transform-origin: 40px 40px;
  }
  .lds-heart div {
	top: 32px;
	left: 32px;
	position: absolute;
	width: 32px;
	height: 32px;
	background: #fff;
	animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .lds-heart div:after,
  .lds-heart div:before {
	content: " ";
	position: absolute;
	display: block;
	width: 32px;
	height: 32px;
	background: #fff;
  }
  .lds-heart div:before {
	left: -24px;
	border-radius: 50% 0 0 50%;
  }
  .lds-heart div:after {
	top: -24px;
	border-radius: 50% 50% 0 0;
  }
  @keyframes lds-heart {
	0% {
	  transform: scale(0.95);
	}
	5% {
	  transform: scale(1.1);
	}
	39% {
	  transform: scale(0.85);
	}
	45% {
	  transform: scale(1);
	}
	60% {
	  transform: scale(0.95);
	}
	100% {
	  transform: scale(0.9);
	}
}

.horizTranslate {
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	margin-left: 100% !important;
  }

.desktop {
  display: none;
}

@media(min-width: 768px) {
	.desktop {
		display: inline;
	}

	.mobile {
		display: none;
	}
}